# Dataset preprocessing

In [11]:
# Import the already somewhat cleaned dataset
import pandas as pd
df = pd.read_csv('Matching-Excel.csv')

# Size, shape, and sample of data

print(df.shape)
print(df.head())

(108, 8)
   Sun Hardiness Size Climate Weather  Type Experience Pack
0    1       5-9    1     2-3     1-2  f-h           1   A1
1    1       5-9  2-3     2-3     1-2   f-h          1   A2
2    2       5-9    1     2-3     1-2  f-h           1   A3
3    2       5-9  2-3     2-3     1-2   f-h          1   A4
4    3       5-9    1     2-3     1-2  f-h           1   A5

In [12]:
# LOOKING AT UNIQUE VALUES

print('Sun: ', df['Sun'].unique())
print('Hardiness: ', df['Hardiness'].unique())
print('Size: ', df['Size'].unique())
print('Climate: ', df['Climate'].unique())
print('Weather: ', df['Weather'].unique())
print('Type: ', df['Climate'].unique())
print('Experience: ', df['Experience'].unique())
print('Pack: ', df['Pack'].unique())

Sun:  [1 2 3]
Hardiness:  ['5-9' '10-11']
Size:  ['1' '2-3']
Climate:  ['2-3' '1' '3-4']
Weather:  ['1-2' '3' '4']
Type:  ['2-3' '1' '3-4']
Experience:  ['1' '2-3']
Pack:  ['A1' 'A2' 'A3' 'A4' 'A5' 'A6' 'A1w3' 'A2w3' 'A3w3' 'A4w3' 'A5w3' 'A6w3'
 'P1' 'P2' 'P3' 'P4' 'P5' 'P6' 'P1w3' 'P2w3' 'P3w3' 'P4w3' 'P5w3' 'P6w3'
 'P1w4' 'P2w4' 'P3w4' 'P4w4' 'P5w4' 'P6w4' 'AA1w1' 'AA2w1' 'AA3w1' 'AA5w1'
 'AA6w1' 'AA1w3' 'AA2w3' 'AA3w3' 'AA4w3' 'AA5w3' 'AA6w3' 'AP1w4' 'AP2w4'
 'AP3w4' 'AP4w4' 'AP5w4' 'AP6w4' 'AP2w1' 'AP3w1' 'AP4w1' 'AP5w1' 'AP6w1'
 'AP1w3' 'AP2w3' 'AP3w3' 'AP4w3' 'AP5w3' 'AP6w3' 'TA1w1' 'TA2w1' 'TA3w1'
 'TA4w1' 'TA5w1' 'TA6w1' 'TA1w3' 'TA2w3' 'TA3w3' 'TA4w3' 'TA5w3' 'TA6w3'
 'TP1w1' 'TP2w1' 'TP3w1' 'TP4w1' 'TP5w1' 'TP6w1' 'TP1w3' 'TP2w3' 'TP3w3'
 'TP4w3' 'TP5w3' 'TP6w3' 'FFAA1' 'FFAA2' 'FFAA3' 'FFAA4' 'FFAA5' 'FFAA6'
 'FFAA1w3' 'FFAA2w3' 'FFAA3w3' 'FFAA4w3' 'FFAA5w3' 'FFAA6w3' 'FFAP1'
 'FFAP2' 'FFAP3' 'FFAP4' 'FFAP5' 'FFAP6' 'FFAP1w3' 'FFAP2w3' 'FFAP3w3'
 'FFAP4w3' 'FFAP5w3' 'FFAP6w3']

In [13]:
# Label Encoding if needed

X = data, Y = target

In [14]:
X = df.loc[[0, 1, 2], :]
X

   Sun Hardiness Size Climate Weather  Type Experience Pack
0    1       5-9    1     2-3     1-2  f-h           1   A1
1    1       5-9  2-3     2-3     1-2   f-h          1   A2
2    2       5-9    1     2-3     1-2  f-h           1   A3